* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calculator {
  width: 300px;
  height: 400px;
  background-color: lightgray;
  padding: 10px;
  border: 2px solid gray;
  box-shadow: 1px 1px 0px 1px gray;
  margin: 40px;
}

.display {
  background-color: lightgreen;
  text-align: right;
  padding: 8px;
  border: 2px solid green;
  height: 20%;
  margin: 8px 4px;
  font-size: xx-large;
  box-shadow: inset 2px 2px green;
}

.buttons {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.numbersOperators {
  display: flex;
  justify-content: space-between;
}

.numbers {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.operators {
  display: flex;
  flex-direction: column;
}

button {
  padding: 10px 20px;
  margin: 4px;
}

.extra button {
  background-color: lightblue;
  border: blue 2px solid;
  box-shadow: 1px 1px 0px 1px blue;
}

.extra button:hover {
  background-color: rgb(159, 206, 221);
}

.operators button {
  background-color: lightgoldenrodyellow;
  border: 2px solid goldenrod;
  box-shadow: 1px 1px 0px 1px goldenrod;
}

.operators button:hover {
  background-color: rgb(241, 241, 195);
}

.numbers button {
  box-shadow: 1px 1px 0px 1px black;
}
